mixin sliderItem(img,video)
    .slider-item.swiper-slide
        .slider-item__wrap-block
            .slider-item__block
                .slider-item__image(style=img)
                video.slider-item__vid-ps(loop="loop" autoplay="autoplay" muted="muted")
                    source(src=video type='video/mp4')
                video.slider-item__vid-mob(loop="loop" autoplay="autoplay" muted="muted" playsinline)
                    source(src=video type='video/mp4')

mixin services(img,name)
    a.services-block(href="#")
        .services-block__image
            img(src=img alt="image")
        h6=name

mixin page-banner(img,title)
    .page-banner
        img(src=img alt="image")
        h2=title


mixin instagram(img,desc)
    .instagram-block.swiper-slide(class=cl)
		.instagram-block__image
            img(src=img)
        .instagram-block__desc
            p=desc


mixin shooting__type-block(img, title)
	.shooting__type-block.w50
    .shooting__type
			.shooting__type-img
        img(src=img alt="image")
        .shooting__type-desc
            h3=title
            a(href="#").btn.btn--small Выбрать

mixin navigation-arrows__items-center
    .navigation-arrows__item.prev
        +svg('prev')
    .navigation-arrows__item.next
        +svg('next')

mixin placement__slider-item(img)
    .swiper-slide
        .placement__slider-item__block
            .placement__slider-item__image
                img(src=img alt="image")
            .placement__slider-item__label
                +svg('circle-arrow')
                p Виртуальный тур

mixin restBlock(title,text,img)
    .rest-block.swiper-slide
        .rest-block__part 
            .rest-block__desc 
                h4=title
                p=text
            .rest-block__image
                img(src=img)



mixin news-block-item (img, link, title,description)
    a(href="").news-block-item
        .news-block-item__image
            img(src=img alt="img")
        .news-block-item-description
            p
                strong=link
            h4=title
            .news-block-item-description__description
                p=description

